CompileFlags:
  Add:
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_100
    - -I/usr/local/cuda/include
    - "-xcuda"
    - --std=c++17
    - "-D__CUDACC__"
    - "-D__CUDACC_VER_MAJOR__=13"
    - "-D__CUDACC_VER_MINOR__=1"
    - "-D__CUDA_ARCH__=1000"
  Remove:
    - "-Xfatbin*"
    - "-gencode*"
    - "--generate-code*"
    - "-forward-unknown-to-host-compiler"
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"

Diagnostics:
  Suppress:
    - "variadic_device_fn"
    - "attributes_not_allowed"
